/SOFT/1/*.o
/SOFT/1/*.tra
/SOFT/1/*.sct
/SOFT/1/*.map
/SOFT/1/*.bak
/SOFT/1/1.build_log.htm
/SOFT/1/*.hex
/SOFT/1/*.dep
/SOFT/1/*.d
/SOFT/1/*.crf
/SOFT/1/*.iex
/SOFT/Weintek/UKU201.emtp.bak1
/SOFT/1/*.s
/SOFT/1/*.plg
/SOFT/1/*.axf
/SOFT/1/*.fed
/SOFT/1/1.uvgui.PAL
/SOFT/1/1.uvgui.PAL-HOME
/SOFT/1/*.lst
/SOFT/Weintek/UKU201.emtp.bak2
/SOFT/Weintek/*.bak3
